<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.shirokumacafe.archetype.repository.terminal.MyXMLMapper">
    <!--实体 AttendanceWorkInfo 的映射-->
    <resultMap id="attendanceInfoResultMap" type="com.shirokumacafe.archetype.entity.AttendanceWorkInfo" >
        <result column="s_id" property="sId" jdbcType="INTEGER" />
        <result column="s_no" property="sNo" jdbcType="VARCHAR" />
        <result column="s_name" property="sName" jdbcType="VARCHAR" />
        <result column="attendances" property="attendances" jdbcType="VARCHAR" />
        <result column="attendance_infos" property="attendanceInfos" jdbcType="VARCHAR" />
        <result column="works" property="works" jdbcType="VARCHAR" />
        <result column="work_infos" property="workInfos" jdbcType="VARCHAR" />
    </resultMap>

    <!--出勤统计-->
    <select id="getAttendanceInfoByCId" parameterType="map" resultMap="attendanceInfoResultMap">
        SELECT v1.s_id,v1.s_no,v1.s_name,
                group_concat(`v1`.`attendance_info` separator ',') AS `attendances`,
                group_concat(`v1`.`attendance` separator ',') AS attendance_infos
        from (select `t1`.`s_id`,t2.s_no,t2.s_name,`t1`.`attendance_info`,count(`t1`.`attendance_info`) AS `attendance`
              from `t_course_info` `t1` LEFT JOIN t_student t2 ON t1.s_id=t2.s_id
              where t1.c_id=#{cId}
              <if test="sId != null">
                  and t1.s_id=#{sId}
              </if>
              group by `t1`.`s_id`,`t1`.`attendance_info`) v1
        group by `v1`.`s_id`
    </select>

    <!--作业提交情况统计-->
    <select id="getWorkInfoByCId" parameterType="map" resultMap="attendanceInfoResultMap">
        SELECT v1.s_id,v1.s_no,v1.s_name,
            group_concat(`v1`.`work_info` separator ',') AS `works`,
            group_concat(`v1`.`work` separator ',') AS work_infos
        from (select `t1`.`s_id`,t2.s_no,t2.s_name,`t1`.`work_info`,count(`t1`.`work_info`) AS `work`
            from `t_course_info` `t1` LEFT JOIN t_student t2 ON t1.s_id=t2.s_id
            where t1.c_id=#{cId}
            <if test="sId != null">
                and t1.s_id=#{sId}
            </if>
            group by `t1`.`s_id`,`t1`.`work_info`) v1
        group by `v1`.`s_id`
    </select>

    <!--课程统计-->
    <select id="getCourseBySId" parameterType="Integer" resultType="java.util.Map">
        SELECT t3.c_id as cId,t3.c_name as cName,t6.nick_name as nickName,CONCAT(t5.aa_name,'-',t4.aa_name) as aaName
        from t_student t1
        LEFT JOIN t_course_student t2 on t1.s_id=t2.s_id
        LEFT JOIN t_course t3 ON t2.c_id = t3.c_id
        LEFT JOIN t_attend_addr t4 ON t3.c_attend_addr = t4.aa_id
        LEFT JOIN t_attend_addr t5 ON t4.aa_pid=t5.aa_id
        LEFT JOIN t_user t6 ON t3.t_id=t6.user_id
        where t1.s_id = #{_parameter}
    </select>

    <!--作业和出勤-->
    <select id="getAttendanceWorkByCIdAndSId" parameterType="map" resultType="java.util.Map">
        SELECT t2.ct_time as ctTime,t1.attendance_info as attendanceInfo,t1.work_info as workInfo
        FROM t_course_info t1
        LEFT JOIN t_course_time t2 on t1.ct_id=t2.ct_id
        WHERE t1.c_id=#{cId} and t1.s_id=#{sId}
    </select>

    <!--作业-->
    <select id="getWorkBySId" parameterType="Integer" resultType="java.util.Map">
        SELECT t1.w_id as wId,t1.c_id as cId,t1.c_name as cName,t1.w_add_time as wAddTime,t1.w_desc as wDesc
        FROM t_work t1
        LEFT JOIN t_course_student t2 ON t1.c_id = t2.c_id
        where t2.s_id = #{_parameter}
    </select>

    <!--课程学生-->
    <select id="getCourseStudentByWId" parameterType="Integer" resultType="java.util.Map">
        SELECT t3.s_id as sId,t3.s_no as sNo,t3.s_name as sName
        from t_work t1
        LEFT JOIN t_course_student t2 ON t1.c_id=t2.c_id
        LEFT JOIN t_student t3 ON t2.s_id=t3.s_id
        WHERE t1.w_id=#{wId}
        LIMIT #{page.start},#{page.limit}
    </select>

</mapper>
